<h2>Family Study</h2>
<p>Test Mission</p>

 

<% if current_user && !current_user.admin?%>
<div class="form-group">
<table class="sortable table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Name</th> 
      <th>Start date</th>
      <th>End date</th> 
      <th>Country</th>  
      <th>Active</th>
      <th></th> 
    </tr>
  </thead>

  <tbody>
    <% current_user.missions.each do |mission| %>
      <tr>
        <td><%= mission.name %></td> 
        <td><%= mission.start_date %></td>
        <td><%= mission.end_date %></td> 
        <td><%= mission.country.name rescue '' %></td>  
        <td><%= mission.active %></td>
        <td><%#= link_to 'Show', [:admin, mission], class: 'btn btn-warning btn-xs' %></td> 
      </tr>
    <% end %>
  </tbody>
</table> 
</div>
<% end %>